
*{
	box-sizing:border-box;
}

.button {
  background-color: #ed7d0c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.header{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px 80px 80px;
}

.header-logo-div{
	text-align:center;
}

.header-text-div{
	text-align:center
}
.header-button-div{
	text-align:center
}